html {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	position: relative;
	min-height: 100%;
	margin: 0;
	background-color: #37474F;
	background-image: 
		linear-gradient(rgba(55, 71, 79, 0.9), rgba(55, 71, 79, 0.9)), 
		url('pic/FactionBGS_Logo_with_text.png');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	user-select: none;
}

.sub-header-row td {
	color: #EF7B04;
	font-weight: bold;
}

.sub-data-row td {
	position: relative;
	border-radius: 0;
}

.sub-data-row a:hover {
	color: #A2D8A8 !important;
}

.sub-data-row:hover td {
	background-color: transparent !important;
}

.sub-data-row {
	transition: background-color 0.3s ease;
}

.sub-data-row:hover {
	background-color: #506772 !important;
	border-radius: 3px;
}

.sub-table {
	width: 90%;
	margin: 20px auto;
}

.sub-table th, .sub-table td {
	padding: 2px;
	text-align: center;
	border: 1px solid #506772;
	border-radius: 3px;
}

table, th, td {
	user-select: none;
}

table {
	width: auto;
	border-collapse: separate ;
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: #263238;
	color: #4CAF50;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

th {
	position: relative;
	padding: 8px;
	padding-right: 25px;
	cursor: pointer;
	white-space: nowrap;
	background-color: #263238;
	color: #EF7B04;	
	font-weight: bold;
	text-align: center;
	border: 1px solid #506772;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

td {
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	border: 1px solid #506772;
	background-color: #263238;
	color: #4CAF50;
	border-radius: 3px;
	margin: 0;
}

table td.checked {
	color: #319687;
	font-size: 1em;
	text-align: center;
}

table td.unchecked {
	color: #C45C5A;
	font-size: 1em;
	text-align: center;
}

tr.main-row:hover td {
	background-color: #506772;
}

th::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid gray;
	transform: translateY(-50%);
}

th.sorted-asc::after {
	border-top: none;
	border-bottom: 8px solid lightgreen;
}

th.sorted-desc::after {
	border-top: 8px solid lightgreen;
}

th.no-sort::after {
	content: none;
}

.route-table {
	width: auto;
	margin-top: 40px;
}

#systemsTable {
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	text-align: center;
	color: #EF7B04;
	font-size: 56px;
	margin-top: 10px;
}

#sourceDataText {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 14px;
	color: #052535;
}

#factionDataText {
	position: absolute;
	top: 40px;
	right: 30px;
	text-align: center;
	font-size: 14px;
	color: #052535;
}

.loading {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 10px;
	width: 300px;
}

.loading-text {
	font-size: 18px;
	color: #4CAF50;
	margin-top: 10px;
}

.hidden-column {
	display: none;
}

#websiteMenu {
	position: absolute;
	margin: 5px;
	display: flex;
	left: 29%;
	font-size: 16px;
	min-height: 30px;
}

#websiteMenu select {
	min-width: 230px;
}

#sourceFilter {
	cursor: pointer;
}

#systemMenu {
	position: absolute;
	margin: 5px;
	display: flex;
	right: 29%;
	font-size: 16px;
	min-height: 30px;
}

#systemMenu select {
	min-width: 230px;
}

#startSystemSelect {
	cursor: pointer;
}

#factionMenu {
	position: absolute;
	margin: 5px;
	display: block;
	left: 15%;
	font-size: 16px;
	min-height: 30px;
	z-index: 1000;
}

#factionMenu select {
	min-height: 30px;
	min-width: 230px;
	max-width: 230px;
}

#factionSelect {
	cursor: pointer;
}

#otherFactionInput {
	background-color: #263238;
	color: #4CAF50;
	border: 1px solid #506772;
	padding: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: normal;
	width: 300px;
	margin-top: 10px;
	margin-left: -40px;
	display: none;
	z-index: 1000;
}

#otherFactionInput:focus {
	background-color: #263238;
	outline: none;
	border-color: #506772;
}

select {
	background-color: #263238;
	color: #EF7B04;
	padding: 3px;
	border: 1px solid #506772;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
}

select:focus {
	background-color: #263238;
	border-color: #506772;
	outline: none;
}

#routeBtn {
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 0px 0px;
	background-color: #263238;
	color: #4CAF50;
	border: 2px solid #506772;
	cursor: pointer;
	font-size: 20px;
	min-width: 250px;
	height: 40px;
	border-radius: 5px;
	font-weight: bold;
}

#routeBtn:hover {
	background-color: #506772;
}

#raportBtn {
	position: absolute;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	padding: 0px 0px;
	background-color: #1E292D;
	color: #4CAF50;
	border: 2px solid #506772;
	cursor: pointer;
	font-size: 20px;
	min-width: 250px;
	height: 40px;
	border-radius: 5px;
	font-weight: bold;
	left: 50%;
	transform: translateX(-50%);
	top: 89%;
}

#raportBtn:hover {
	background-color: #3D4E56;
}

#clearDataBtn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 0px;
	background-color: #1E292D;
	color: #DB5158;
	border: 2px solid #506772;
	cursor: pointer;
	font-size: 16px;
	min-width: 200px;
	height: 30px;
	border-radius: 5px;
	left: 75%;
	top: 90%;
}

#clearDataBtn:hover {
	background-color: #3D4E56;
}

#clearListBtn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 0px;
	background-color: #1E292D;
	color: #DB5158;
	border: 2px solid #506772;
	cursor: pointer;
	font-size: 16px;
	min-width: 200px;
	height: 30px;
	border-radius: 5px;
	left: 5%;
	top: 90%;
}

#clearListBtn:hover {
	background-color: #3D4E56;
}

#clearDataBtn.disabled, #clearListBtn.disabled {
	color: #b8b8b8;
	cursor: not-allowed;
}

#clearDataBtn.disabled:hover, #clearListBtn.disabled:hover {
	background-color: #5c5c5c;
}

#selectBtn {
	position: absolute;
	display: block;
	margin: -35px 73%;
	padding: 0px 0px;
	background-color: #263238;
	color: #EF7B04;
	border: 1px solid #506772;
	cursor: pointer;
	font-size: 16px;
	min-width: 230px;
	height: 30px;
	border-radius: 5px;
	font-weight: normal;
}

#factionInfoContainer {
	margin-top: 30px;
	text-align: center;
	padding: 15px;
	background-color: #263238;
	border: 1px solid #506772;
	border-radius: 10px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	display: none;
}

#factionInfoContainer th::after {
	content: none;
}

#factionInfoContainer th.sorted-asc::after, 
#factionInfoContainer th.sorted-desc::after {
	display: none !important;
}

#factionInfoContainer table {
	padding: 5px;
	border-radius: 3px;
}

#factionInfoContainer td, #factionInfoContainer th {
	padding: 5px;
	border: 1px solid #000;
	border-radius: 3px;
}

#routeOutputContainer {
	margin-top: 30px;
	text-align: center;
	padding: 15px;
	background-color: #263238;
	border: 1px solid #506772;
	border-radius: 10px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	display: none;
}

#routeOutputContainer th::after {
	content: none;
}

#routeOutputContainer th.sorted-asc::after, 
#routeOutputContainer th.sorted-desc::after {
	display: none !important;
}

#routeOutputContainer table {
	padding: 5px;
	border-radius: 3px;
}

#routeOutputContainer td, #routeOutputContainer th {
	padding: 5px;
	border: 1px solid #000;
	border-radius: 3px;
}

.page-Info-Container {
	margin: 0;
	margin-top: 30px;
	padding: 0;
	background-color: #263238;
	border: 3px solid #506772;
	border-radius: 10px;
	width: auto;
	min-width: 1000px;
	height: 650px;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	display: none;
}

.info-container h3 {
	margin: 10px;
}

.info-container p {
	margin-bottom: 10px;
}

.info-container ul {
	list-style-type: disc;
	padding: 0;
}

.info-container ul li {
	margin-left: 150px;
	padding-bottom: 6px;
}

.info-container button {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.info-container button:hover {
	background-color: #0056b3;
}

.closeBtn {
	background-color: transparent;
	color: #4CAF50;
	border: none;
	font-size: 24px;
	position: absolute;
	top: 0px;
	right: 10px;
	cursor: pointer;
	padding: 5px;
}

.closeBtn:hover {
	color: #f44336;
}

#downloadCSVBtn {
	position: absolute;
	display: flex;
	justify-content: center;
	background-color: #263238;
	color: #4CAF50;
	font-size: 18px;
	border: 2px solid #506772;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 3px;
	font-weight: bold;
	top: 10px;
}

#downloadCSVBtn:hover {
	background-color: #506772;
}

#reloadBtn {
	position: absolute;
	display: flex;
	justify-content: center;
	background-color: #263238;
	color: #4CAF50;
	font-size: 18px;
	border: 2px solid #506772;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 3px;
	top: 10px;
	right: 30px;
	width: 150px;
}

#reloadBtn:hover {
	background-color: #506772;
}

#infoBtn {
	position: absolute;
	display: flex;
	justify-content: center;
	background-color: #263238;
	color: #4CAF50;
	font-size: 18px;
	border: 2px solid #506772;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 3px;
	top: 10px;
	left: 30px;
	width: 150px;
}

#infoBtn:hover {
	background-color: #506772;
}

.copy-icon {
	cursor: pointer;
	margin-left: 10px;
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.copy-icon-2 {
	position: absolute;
	cursor: pointer;
	right: 10px;
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	background-color: #506772;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
}

input[type="checkbox"]:checked {
	background-color: #4CAF50;
	border-color: #000;
}

a.system-link {
	color: inherit;
	text-decoration: none;
}

a.system-link:visited {
	color: inherit;
}

a.system-link:hover {
	color: inherit;
	text-decoration: underline;
}

a.system-link:active {
	color: inherit;
}

.progress-container {
	width: 100%;
	background-color: #506772;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	height: 30px;
	margin-top: 10px;
}

.progress-bar {
	height: 100%;
	width: 0%;
	background-color: #4CAF50;
	transition: width 0.5s ease-in-out;
}

#loading-progress-text {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	line-height: 30px;
	color: #EF7B04;
}

.fac-player-faction {
	font-weight: bold;
}

.fac-peace-agreement {
	color: #5A90B5;

}

.fac-dead-factions {
	color: #83AF88;

}

.fac-no-contact {
	color: #C6BC2D;

}

.other-player-system a.system-link {
	font-weight: bold;
}

.peace-agreement a.system-link {
	color: #5A90B5;

}

.dead-factions a.system-link {
	color: #83AF88;

}

.no-contact a.system-link {
	color: #C6BC2D;

}

.faction-table tr:not(.peace-agreement):not(.no-contact):not(.dead-factions) td:nth-child(2) {
	font-weight: bold;
}

.faction-table .peace-agreement td:nth-child(2) {
	color: #5A90B5;
}

.faction-table .no-contact td:nth-child(2) {
	color: #C6BC2D;
}

.faction-table .dead-factions td:nth-child(2) {
	color: #83AF88;
}
